*.ipynb
train_test.py
checkpoints
__pycache__
*.py[cod]
*.pyc
*.pyo
**/__pycache__/
results/
wandb/
temp/
compressproj_exp/
#ignore
!notebooks/finetuning_eval.ipynb
!notebooks/visualize_masks.ipynb
!notebooks/finetune_benchmark.ipynb